[data-sonner-toaster][data-theme='light'] {
  @apply !z-[120];
}
[data-sonner-toaster][data-y-position='bottom'] {
  @apply !bottom-[76px];
}
@screen sm {
  [data-sonner-toaster][data-y-position='bottom'] {
    @apply !bottom-[96px] !left-[3%];
  }
}
@screen lg {
  [data-sonner-toaster][data-y-position='bottom'] {
    @apply !bottom-[30px] !left-[32px];
  }
}

.ca25Alert {
  @apply border border-solid !border-red-500;
  @apply items-start;
  @apply !px-2.5 !py-4 sm:px-3 lg:px-4;
}
