.ca25Article_Frmatt {
  @apply font-extralight tracking-[-0.1px];
  @apply prose-h1:text-[28px] prose-h1:font-bold prose-h1:leading-[38px] sm:prose-h1:text-[40px] sm:prose-h1:leading-[48px];
  @apply prose-h2:mb-3.5 prose-h2:mt-8 prose-h2:text-xl prose-h2:font-semibold first:prose-h2:mt-0 sm:prose-h2:mt-10;
  @apply prose-p:font-extralight prose-strong:font-semibold;
  @apply prose-a:text-primary prose-a:font-normal prose-a:underline prose-ul:list-disc prose-ul:pl-8 prose-li:font-extralight;
}
.ca25Article_Frmatt.ca25Article_FrmattLight {
  @apply prose-a:text-primary;
}
.ca25Article_Frmatt.ca25Article_FrmattDark {
  @apply prose-a:text-[#D38350];
}
