/* Backdrop Shadow */
.bckdrpCvrShdow::before {
  @apply content-[''];
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  @apply absolute -top-10 bottom-auto inset-x-0;
  @apply h-[385px];
  @apply z-10;
}

.bckdrpCvrShdow::after {
  @apply content-[''];
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  @apply absolute top-auto -bottom-10 inset-x-0;
  @apply h-[385px];
  @apply z-10;

  @apply rotate-180;
}

.ca2024CvrOvrflyBackdrop {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
