/* @hamburger */
.hmbrgrStairs .hmbrgrStairsLine {
  @apply bg-white;
  @apply mb-1.5 last:mb-0;
  @apply h-0.5 w-2.5;

  @apply opacity-100 visible;
  @apply transition duration-300 ease-in-out;
}

.hmbrgrStairs .hmbrgrStairsLine:nth-child(1) {
  @apply ml-auto;
}

.hmbrgrStairs .hmbrgrStairsLine:nth-child(2) {
  @apply mx-auto w-full;
}

.hmbrgrStairs .hmbrgrStairsLine:nth-child(3) {
  @apply mr-auto;
}

.hmbrgrStairs.deactive .hmbrgrStairsLine {
  @apply first:rotate-[-42deg] first:translate-y-2 first:translate-x-0 first:ml-0;
  @apply last:rotate-[43deg] last:-translate-y-2 last:translate-x-0 last:mr-0;
  @apply w-[20px];
}

.hmbrgrStairs.deactive .hmbrgrStairsLine:nth-child(2) {
  @apply opacity-0 invisible;
  backface-visibility: hidden;
}

/* Menu */
ul.menu {
  @apply flex flex-col;
}

ul.menu li {
  @apply flex flex-col relative;
  @apply mb-2 last:mb-0;
}

ul.menu li a {
  @apply flex flex-col;
  @apply text-black-900 font-bevietnamPro text-base font-medium;
  @apply relative;
  @apply py-3.5 px-3;
}

ul.menu.menu-row {
  @apply flex flex-row;
}

ul.menu.menu-row li {
  @apply flex-row;
  @apply mr-2 last:mr-0 mb-0;
}

/* Navbar */
.ca2024Navbar .ca2024NavbarMain {
  @apply backdrop-blur-md;
}

.ca2024Navbar .ca2024NavbarMain .ca2024NavbarMenu {
  @apply hidden;
}

@screen xl {
  .ca2024Navbar .ca2024NavbarMain .ca2024NavbarMenu {
    @apply flex flex-col;
  }
}

.ca2024Navbar .ca2024NavbarMenu ul.menu li a {
  @apply text-white;
}

/* @nav-mobile */
.ca2024NavMenuMobile {
  @apply bg-secondary2024 xl:bg-transparent;
  @apply fixed xl:relative top-full bottom-0 xl:inset-y-0 inset-x-0;
  @apply min-h-screen xl:min-h-max;

  @apply transition-all duration-[0.3s] ease-in-out;

  backface-visibility: hidden;
  @apply invisible opacity-0;
}

@screen xl {
  .ca2024NavMenuMobile {
    @apply hidden;
  }
}

.ca2024NavMenuMobile.active {
  @apply top-0;
  backface-visibility: visible;
  @apply visible opacity-100;
  @apply z-base;
}

.ca2024NavMenuMobile ul.menu.menu-stripe li {
  @apply mb-0;
}

.ca2024NavMenuMobile ul.menu.menu-stripe li a {
  @apply text-white;
  @apply border-b border-solid border-white;
  @apply py-6 px-4;
}

.ca2024NavMenuMobile ul.menu.menu-stripe li:last-child a {
  @apply border-none;
}
