::selection {
  @apply bg-black-900/40 text-white;
}
html {
  @apply scroll-smooth;
}
body {
  @apply bg-dark;
  @apply font-bevietnamPro text-base font-normal;
}
body::-webkit-scrollbar,
body.ca25MainApps-Light::-webkit-scrollbar {
  @apply w-[8px];
}
body::-webkit-scrollbar-track,
body.ca25MainApps-Light::-webkit-scrollbar-track {
  @apply bg-gray-300;
}
body::-webkit-scrollbar-thumb,
body.ca25MainApps-Light::-webkit-scrollbar-thumb {
  @apply bg-gray-500/55;
  @apply rounded-full;
  @apply border-none;
}
body.ca25MainApps-Dark::-webkit-scrollbar {
  @apply w-[8px];
}
body.ca25MainApps-Dark::-webkit-scrollbar-track {
  @apply bg-black-700;
}
body.ca25MainApps-Dark::-webkit-scrollbar-thumb {
  @apply bg-gray-400/60;
  @apply rounded-full;
  @apply border-none;
}

a,
button {
  @apply text-inherit;
  @apply outline-none focus-visible:outline-none hocus:outline-none;
}
/* @scrollbar(y) */
.scrollbar-y::-webkit-scrollbar {
  @apply w-1.5 sm:w-1.5;
}
.scrollbar-y::-webkit-scrollbar-track {
  @apply bg-gray-200;
}
.scrollbar-y::-webkit-scrollbar-thumb {
  @apply bg-gray-400/70;
  @apply rounded-full;
  @apply border-none;
}
/* @scrollbar(x) */
.scrollbar-x::-webkit-scrollbar {
  @apply h-1.5 sm:h-1.5;
}
.scrollbar-x::-webkit-scrollbar-track {
  @apply rounded-full bg-gray-200/80;
}
.scrollbar-x::-webkit-scrollbar-thumb {
  @apply bg-gray-400/70;
  @apply rounded-full;
  @apply border-none;
}
/* attribute */
.bxShadow-none {
  box-shadow: none;
  @apply focus:outline-none focus:ring-0 focus-visible:outline-none;
}
.ca25PointerNone {
  @apply pointer-events-none select-none;
}

/* @line-break */
.line-break-anywhere {
  line-break: anywhere;
}
