@font-face {
  font-family: 'Boren';
  src:
    url('/fonts/boren.ttf') format('truetype'),
    url('/fonts/boren.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.ca25Fonts-Boren {
  @apply font-boren leading-[0] sm:leading-[0] lg:leading-[0];
}
