@tailwind base;

/* Fonts */
@layer base {
  @font-face {
    font-family: "Stara SemiBold";
    src: local("Stara SemiBold"),
      url("/assets/fonts/ca2024Stara-SemiBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Stara Bold";
    src: local("Stara Bold"),
      url("/assets/fonts/ca2024Stara-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Stara ExtraBold";
    src: local("Stara ExtraBold"),
      url("/assets/fonts/ca2024Stara-ExtraBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
