@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* @tailwind-css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @fonts */
@import url("./fonts");

body {
  @apply bg-white;
  @apply font-bevietnamPro text-base font-medium text-black-900;
  scroll-behavior: smooth;
}

.ca2024Main::-webkit-scrollbar,
body::-webkit-scrollbar {
  @apply w-2;
}

.ca2024Main::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

.ca2024Main::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  @apply bg-gray-400/80;
  @apply rounded-full;
  @apply border-none;
}

a {
  @apply outline-none focus-visible:outline-none;
}

input:valid {
  @apply bg-white focus-visible:bg-white;
}

/* @background */
@import url("./components/background");

/* @list */
@import url("./components/list");

/* @button */
@import url("./components/button");

/* @dots */
@import url("./components/dots");

/* @markdown */
@import url("./components/markdown");

/* @card */
@import url("./components/card");

/* @navbar */
@import url("./layouts/navbar");

/* @menu */
@import url("./components/menu");

/* @slider */
@import url("./components/slider");

/* @line-break */
.line-break-anywhere {
  line-break: anywhere;
}

/* @shadow */
.boxShadow-none,
.boxShadow-none:focus {
  box-shadow: none;
}

/* @hamburger */
.hmbrgrStairs .hmbrgrStairsLine {
  @apply bg-white;
  @apply mb-1.5 last:mb-0;
  @apply h-0.5 w-2.5;

  @apply visible opacity-100;
  @apply transition duration-300 ease-in-out;
}

.hmbrgrStairs .hmbrgrStairsLine:nth-child(1) {
  @apply ml-auto;
}

.hmbrgrStairs .hmbrgrStairsLine:nth-child(2) {
  @apply mx-auto w-full;
}

.hmbrgrStairs .hmbrgrStairsLine:nth-child(3) {
  @apply mr-auto;
}

.hmbrgrStairs.deactive .hmbrgrStairsLine {
  @apply first:ml-0 first:translate-x-0 first:translate-y-2 first:rotate-[-42deg];
  @apply last:mr-0 last:-translate-y-2 last:translate-x-0 last:rotate-[43deg];
  @apply w-[20px];
}

.hmbrgrStairs.deactive .hmbrgrStairsLine:nth-child(2) {
  @apply invisible opacity-0;
  backface-visibility: hidden;
  @apply -z-px w-0;
}

/* @scroll-indikator */
.ca2024ScrolldownIcns {
  border: 1.5px solid #ffffff;
  @apply rounded-full;
  @apply mx-auto;
  @apply h-[22px] w-3.5;
}

.ca2024ScrolldownIcns .ca2024ScrolldownIcns-Indiktr {
  @apply flex;
  @apply rounded-full bg-white;
  @apply mx-auto mt-1.5;
  @apply h-1 w-1;
}

/* @shadow */
.ca2024GrpBxShadow::before {
  @apply content-[''];
  background: radial-gradient(50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.42) 0%,
      rgba(0, 0, 0, 0) 100%);
  @apply absolute -inset-x-[70px] -inset-y-[70px];
  @apply opacity-[0.7] blur-[10px];
  @apply -z-px;
}

/* @main */
.ca2024Main {
  @apply relative;
  /* @apply overflow-y-auto; */
  /* @apply snap-y snap-mandatory; */
  /* scroll-snap-points-y: repeat(100svh); */
  /* @apply h-svh max-h-svh xl:h-screen xl:max-h-screen; */
}

.ca2024MainPoints {
  @apply relative flex flex-col;
}

.ca2024MainScreen {
  @apply h-svh min-h-svh xl:h-screen xl:min-h-screen;
}

.ca2024MainScreenAuto {
  @apply h-auto max-h-min min-h-[auto];
}

.ca2024BgRotateBackdrop {
  transform: rotateX(180deg);
}

/* @article */
.ca2024ArtcleFrmattd {
  @apply prose-h1:text-[32px] prose-h1:font-bold prose-h1:leading-[38px] sm:prose-h1:text-[40px] sm:prose-h1:leading-[48px];
  @apply prose-h2:mb-4 prose-h2:mt-8 prose-h2:text-2xl prose-h2:font-semibold first:prose-h2:mt-0 sm:prose-h2:mt-10;
  @apply prose-strong:font-semibold;
  @apply prose-a:text-secondary prose-a:underline prose-ul:list-disc prose-ul:pl-8;
}

/* @banner-ticket */
.ca2024BnnrTicket {
  @apply translate-y-0 transform;
  @apply opacity-100;
  @apply z-50;
}

.ca2024BckdrpBnnrTicket {
  @apply opacity-100;
  @apply z-50;
}

.ca2024BnnrTicket.nonActive {
  @apply pointer-events-none;
  backface-visibility: hidden;
  @apply translate-y-[50%] transform;
  @apply opacity-0;
  @apply -z-px;
}

.ca2024BckdrpBnnrTicket.nonActive {
  @apply pointer-events-none;
  backface-visibility: hidden;
  @apply opacity-0;
  @apply -z-px;
}

/* @mansonry */
.ca2024Mnsry {
  @apply relative;
  @apply columns-1 sm:columns-2 lg:columns-3 [&>div:not(:first-child)]:mt-4;
}

/* @phone-format */
.PhoneInputCountry {
  @apply pr-2;
}

.PhoneInputCountrySelectArrow {
  @apply !hidden;
}

.PhoneInputInput {
  @apply border-l border-solid border-gray-300;
  @apply focus-visible:outline-none;
  @apply pl-2;
}

.PhoneInputCountryIcon.PhoneInputCountryIcon--border {
  @apply rounded-sm;
  @apply overflow-hidden;
}

/* @select */
.css-t3ipsp-control,
.css-13cymwt-control {
  @apply !rounded-lg;
  @apply !border border-solid !border-[#E3E3E3];
  @apply !min-h-[62px];
}

.css-1dimb5e-singleValue {
  @apply font-bevietnamPro text-sm;
}

.css-1nmdiq5-menu {
  @apply !z-[5];
}

/* @banner-popupnav */
.ca2024BckdrpBnnrPopNav {
  @apply opacity-100;
  @apply z-base;
}

.ca2024PopUpNav {
  @apply translate-y-0 transform;
  @apply opacity-100;
  @apply z-50;
}

.ca2024BckdrpBnnrPopNav.nonActive {
  @apply pointer-events-none;
  backface-visibility: hidden;
  @apply opacity-0;
  @apply -z-px;
}

.ca2024PopUpNav.nonActive {
  @apply pointer-events-none;
  backface-visibility: hidden;
  @apply translate-y-[50%] transform;
  @apply opacity-0;
  @apply -z-px;
}

/* @venue */
.ca2024VenueMaps {
  @apply -translate-y-[8px] translate-x-[8px] scale-[1.3] scale-y-[1.3] transform;
  @apply sm:-translate-x-[12px] sm:-translate-y-[2px] lg:-translate-x-[8px] lg:-translate-y-[26px] xl:-translate-x-[40px] xl:-translate-y-[60px];
  @apply sm:scale-x-[1.3] sm:scale-y-[1.4] lg:scale-x-[1.2] lg:scale-y-[1.3] xl:scale-x-[1.1] xl:scale-y-[1.2];
  object-position: 70%;
}

@screen sm {
  .ca2024VenueMaps {
    object-position: center;
  }
}

.ca2024LabelPinVenue {
  @apply flex flex-col items-center justify-center rounded-full bg-secondary;
  @apply font-bevietnamPro text-xs text-white sm:text-sm xl:text-[24px];
  @apply ring-[4px] ring-white/50 sm:ring-[6px] xl:ring-[8px];
  @apply h-6 w-6 sm:h-9 sm:w-9 xl:h-14 xl:w-14;
}

/* @faq(format) */
.ca2024FaqFormatContent {
  @apply font-bevietnamPro text-base font-light;
  @apply prose-strong:font-semibold;
  @apply prose-a:text-secondary;
  @apply prose-ul:ml-6 prose-ul:list-disc prose-ul:pl-0;
}

/* @coinfest-week */
.ca2024CoinfestWeekCntnMdl::-webkit-scrollbar {
  @apply w-1.5;
}

.ca2024CoinfestWeekCntnMdl::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

.ca2024CoinfestWeekCntnMdl::-webkit-scrollbar-thumb {
  @apply bg-gray-400/80;
  @apply rounded-full;
  @apply border-none;
}

/* @agenda */
.ca2024AgendaModal::-webkit-scrollbar {
  @apply w-1.5;
}

.ca2024AgendaModal::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

.ca2024AgendaModal::-webkit-scrollbar-thumb {
  @apply bg-gray-400/80;
  @apply rounded-full;
  @apply border-none;
}

/* @carta */
.ca2024CartaMobile_Shadow {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1%, #ffffff 89%);
}

.button-blue {
  @apply bg-[url('/assets/images/backdrop/background/ca2024BgNavGuide.jpg')] bg-cover bg-left;
}

.spacer {
  width: 100%;
  height: 100vh;
  background-color: green;
}

.containerTabs {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.left-container,
.right-container {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.right-content {
  width: 100%;
  border: 1px solid cyan;
}

.right-element {
  width: 100%;
  height: 100vh;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  position: relative;
  overflow: hidden;
}

.left-content img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.left-content img:first-child {
  opacity: 1;
}

.transform-component-module_wrapper__SPB86 {
  overflow: visible !important;
}