/* @tailwinds-css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @add(Preline) */
@import url('/node_modules/preline/dist/preline.css');

@import url('./body.module.css');
@import url('./fonts.module.css');
@import url('./typhography.module.css');

@import url('./components/animate.module.css');
@import url('./components/backdrop.module.css');
@import url('./components/alert.module.css');
@import url('./components/buttons.module.css');
@import url('./components/tabs.module.css');
@import url('./components/form.module.css');
@import url('./components/article.module.css');
@import url('./components/mansory.module.css');
@import url('./components/cards.module.css');
@import url('./components/products.module.css');

@import url('./layouts/navbar.module.css');
@import url('./layouts/footer.module.css');

/* @markdown */
.ca25MarkdwnFrmattd {
  @apply prose-li:pointer-events-none prose-li:relative prose-li:mb-3 prose-li:flex prose-li:select-none prose-li:flex-row prose-li:items-start prose-li:gap-x-3 prose-li:text-[15px] prose-li:font-light prose-li:leading-[22px] prose-li:text-white last:prose-li:mb-0 sm:prose-li:text-base sm:prose-li:leading-initial;
  @apply prose-ul:flex prose-ul:flex-col prose-ul:pl-0;
}
.ca25MarkdwnFrmattd.ca25MarkdwnFrmattd_Mnsry img {
  @apply mt-4;
  @apply rounded-md object-cover object-center;
}
.ca25MarkdwnFrmattd ul li::before {
  content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%2220%206%209%2017%204%2012%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E');
  @apply flex flex-col items-center justify-center;
  @apply pt-px sm:pt-2.5;
  @apply h-6 w-6 min-w-[24px];
}

/* @layout */
.ca25BackGroupPrimary::before {
  @apply content-[''];
  @apply absolute inset-x-0 bottom-auto top-0;
  @apply bg-[linear-gradient(180deg,rgba(31,31,31,1)_4%,rgba(30,35,44,1)_17%,rgba(1,87,246,1)_58%,rgba(1,87,246,0)_100%)];
  @apply h-[600px] w-full;
  @apply z-[4];
}
.ca25BackGroupPrimary::after {
  @apply content-[''];
  @apply absolute inset-x-0 bottom-0 top-auto;
  @apply bg-[linear-gradient(0deg,rgba(31,31,31,1)_4%,rgba(30,35,44,1)_17%,rgba(1,87,246,1)_58%,rgba(1,87,246,0)_100%)];
  @apply h-[600px] w-full;
  @apply z-[4];
}

/* @debug */
.ca25BrandLogo-BckBlured::before {
  @apply content-[''];
  @apply bg-white/15 blur-[6px] backdrop-blur-[2px];
  @apply absolute inset-x-0 inset-y-0;
  @apply -z-px opacity-80;
}

.ca25ToastAlert {
  @apply absolute bottom-2 top-auto xl:bottom-0;
}
.ca25ToastCheckoutAlert {
  @apply absolute bottom-0;
}
